<section class="Last" style="background-image: url(img/bg.png);">
   <div class="last-inner">

      <div class="container">

         <div class="last-top">
            <p class="last-text">20 мая 2021 <span class="last-span"></span> начало в 18:30</p>
         </div>
         <div class="last-bottom">
            <h2 class="last-text__subtitle">Бесплатный вебинар</h2>
            <h1 class="last-text__sub">Александр Фридман</h1>
            <p class="subtext">Лидерство – мифы и рифы</p>
            <img class="last-img" src="img/Fridman3.png" alt="Fridman">
         </div>
      </div>
   </div>
</section>