<section class="author-description">

   <div class="description-inner">
      <div class="lefts-form">
         <form class="left-form" action="">
            <div class="container">
               <h2 class="left-form__title">Записаться на программу</h2>
               <div class="left-box">

                  <label for="name1"></label>
                  <input class="left-form__name" type="text" id="name1" name="name" placeholder="Ваше имя">

                  <label for="phone1"></label>
                  <input class="left-form__phone" type="tel" id="phone1" name="phone" placeholder="Телефон"
                     pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

                  <label for="email"></label>
                  <input class="left-form__email" type="email" id="email" placeholder="Email" pattern=".+@globex.com"
                     required>

                  <input class="custom-checkbox" type="checkbox" id="custom" name="subscribe" value="newsletter">
                  <label class="form-check left-form__label" for="custom">СОГЛАСЕН НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ
                     ДАННЫХ, ПОЛУЧЕНИЕ
                     РАССЫЛОК,
                     А ТАКЖЕ
                     <a href="https://synergy.ru/lp/_chunk/privacy.php">С ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ</a></label>

                  <button class="left-form-btn" type="submit">записаться</button>

               </div>-

            </div>
         </form>

      </div>

      <div class="author" style="background-image: url(img/bg3.png); max-height: 225px;width: 100%">
         <h2 class="author__title">Александр Фридман</h2>
         <div class="author-bot">
            <div class="box-inner1">
               <h3 class="description__title">Стаж в профессии — 28 лет</h3>
               <p class="description__subtitle"> Конкурентное преимущество: единственный эксперт, который закрывает
                  своими
                  семинарами все компетенции, необходимые руководителю для профессионального управления сотрудниками.
               </p>
            </div>
            <div class="box-inner">
               <h3 class="description__title">Авторские программы:</h3>
               <p class="description__text"> Программа «Homo Boss: Человек Управляющий» (повышение управленческой
                  квалификации руководителей) - 5 базовых курсов, 16 семинаров;</p>
               <p class="description__text"> Программа «Короли и Капуста: МАТЧАСТЬ корпоративного управления»
                  («переподготовка» для Первых Лиц, собственников и генеральных директоров) - три курса, 9 учебных дней;
               </p>
            </div>
            <div class="box-inner">
               <h3 class="description__title">Экспертная квалификация</h3>
               <p class="description__text">Внедрение регулярного менеджмента;
                  Повышение точности корпоративного управления;
                  Обучение методам профессиональной эксплуатации подчинённых;</p>
            </div>
            <div class="box-inner">
               <h3 class="description__title">Книги</h3>
               <ul class="description__list">
                  <li class="description__item">«Вы или Вас: профессиональная эксплуатация подчинённых». Издательство
                     «Добрая Книга».</li>
                  <li class="description__item">«Вы или Хаос: профессиональное планирование для регулярного
                     менеджмента».
                     Издательство «Добрая Книга».</li>
                  <li class="description__item"> «Как наказывать подчинённых: за что, для чего, каким образом».
                     Издательство «Добрая Книга».</li>
                  <li class="description__item">Соавтор книги «Управление стрессом для делового человека». Издательство
                     «Добрая Книга».</li>
                  <li class="description__item">«Пожиратели времени: как избавить от лишней работы себяи сотрудников».
                     Издательство «Бомбора».</li>
               </ul>
            </div>
            <div class="box-inner">
               <p class="description__net">Личный сайт:<a class="description__link"
                     href="www.asfridman.com">www.asfridman.com</a></p>
               <p class="description__net">Личная страница: <a class="description__link"
                     href="www.facebook.com/a.s.fridman">www.facebook.com/a.s.fridman</a></p>
               <p class="description__net">Профессиональная страница:<a class="description__link"
                     href="https://www.facebook.com/fridman.management/">https://www.facebook.com/fridman.management/</a>
               </p>
            </div>
         </div>
      </div>



   </div>


</section>