<section class="hero" style="background-image: url(img/bg.png);">
   <div class="hero-inner">

      <div class="container">

         <div class="hero-top">
            <p class="hero-text">20 мая 2021 <span class="hero-span"></span> начало в 18:30</p>
         </div>
         <div class="hero-bottom">
            <h2 class="hero-text__subtitle">Бесплатный вебинар</h2>
            <h1 class="hero-text__sub">Александр Фридман</h1>
            <p class="subtext">Лидерство – мифы и рифы</p>
            <img class="hero-img" src="img/Fridman.png" alt="Fridman">
         </div>
         <form class="form" action="">
            <div class="container">
               <h2 class="form__title">Записаться на вебинар</h2>
               <div class="form-input">

                  <label for="name"></label>
                  <input class="form__name" type="text" id="name" name="name" placeholder="Ваше имя">

                  <label for="phone"></label>
                  <input class="form__phone" type="tel" id="phone" name="phone" placeholder="Телефон"
                     pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

                  <label for="email"></label>
                  <input class="form__email" type="email" id="email" placeholder="Email" pattern=".+@globex.com"
                     required>

                  <button class="form-btn" type="submit">записаться</button>

               </div>
               <div>
                  <input class="custom-checkbox" type="checkbox" id="consent" name="subscribe" value="newsletter">
                  <label class="form-check" for="consent">СОГЛАСЕН НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ, ПОЛУЧЕНИЕ РАССЫЛОК,
                     А ТАКЖЕ
                     СПОЛИТИКОЙКОНФИДЕНЦИАЛЬНОСТИ</label>
               </div>
            </div>
         </form>
      </div>



   </div>



</section>