<section id="info" class="info">
   <div class="container-flyid ">

      <h3 class="info__title">О вебинаре</h3>
      <p class="info__subtitle">Власть руководителя должна быть легитимной, что невозможно без авторитета. Один из
         способов этот авторитет завоевать – грамотно использовать свои лидерские компетенции.</p>
      <p class="info__subtext">
         С учётом того, что термин «лидерство» один из самых размытых в менеджменте, нужно не надеяться на «сакральные»
         эффекты, а хорошо понимать возможные подходы и уместность их использования на реальных рабочих ситуациях.
      </p>

      <h3 class="info-titlemid">На вебинаре Вы узнаете:</h3>
      <ul class="info__list">
         <li class="info__item">Кто лучше – лидер или менеджер – и нужно ли их противопоставлять;</li>
         <li class="info__item">Что может быть эффективнее административного влияния;
         </li>
         <li class="info__item">От чего зависит значимость лидерства;</li>
         <li class="info__item">Нужно ли лидеру проявлять свои негативные черты.</li>
      </ul>
      <a class="info__button" href="#">ЗАПИСАТЬСЯ</a>
      <h3 class="info__titlebot">Кому полезен вебинар:</h3>
      <ul class="info-bottom__list">
         <li class="info-bottom__item">Мидл-менеджерам</li>
         <li class="info-bottom__item">ТОПам;</li>
         <li class="info-bottom__item">Первым Лицам;</li>
         <li class="info-bottom__item">Собственникам.</li>
      </ul>
      <a class="info__btn" href="#">ЗАПИСАТЬСЯ</a>
   </div>
</section>