<section id="spek" class="Consultant" style="background-image: url(img/bg2.png);">
   <div class="container">

      <div class="Consultant__inner">
         <h2 class="consultant__title">Александр Фридман</h2>
         <ul class="consultant__list">
            <li class="consultant__item">Консультант и бизнес-тренер.</li>
            <li class="consultant__item">Управляющий партнёр консалдинговой компании Amadeus Group,Рига,Латвия.</li>
            <li class="consultant__item">Автор 15 учебных видеосеминаров и 12 аудиосеминаров</li>
         </ul>
         <a class="consultant__link" href="#">Подробнее о спикере</a>
         <img class="consultant__img" src="img/Fridman2.png" alt="Fridman">
      </div>

   </div>
</section>