<section class="speaker">
   <div class="container">

      <form class="speaker-Form" action="">
         <div class="container">
            <h2 class="speaker__title">Записаться на вебинар</h2>
            <div class="speaker-input">

               <label for="name1"></label>
               <input class="speaker__name" type="text" id="name1" name="name" placeholder="Ваше имя">

               <label for="phone1"></label>
               <input class="speaker__phone" type="tel" id="phone1" name="phone" placeholder="Телефон"
                  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

               <label for="email"></label>
               <input class="speaker__email" type="email" id="email" placeholder="Email" pattern=".+@globex.com"
                  required>

               <button class="speaker-btn" type="submit">записаться</button>

            </div>
            <div>
               <input class="custom-checkbox" type="checkbox" id="forma" name="subscribe" value="newsletter">
               <label class="form-check" for="forma">СОГЛАСЕН НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ, ПОЛУЧЕНИЕ РАССЫЛОК,
                  А ТАКЖЕ
                  СПОЛИТИКОЙКОНФИДЕНЦИАЛЬНОСТИ</label>
            </div>
         </div>
      </form>

   </div>
</section>